In [3]:
import numpy as np
import matplotlib.pyplot as plt

import pandas as pd
import seaborn as sn

In [4]:
ESR = pd.read_csv('user_a.csv')
ESR.head()

,Class,AF3 delta std,AF3 delta m,AF3 theta std,AF3 theta m,AF3 alpha std,AF3 alpha m,AF3 beta std,AF3 beta m,F7 delta std,...,F8 beta std,F8 beta m,AF4 delta std,AF4 delta m,AF4 theta std,AF4 theta m,AF4 alpha std,AF4 alpha m,AF4 beta std,AF4 beta m
0,1.0,3569.164550,2063.892754,1.673726,4.444736,0.526209,3.002088,1.425022,3.302739,3563.803888,...,45.468326,72.508750,3701.186330,2182.676835,18.192418,41.349662,16.004756,42.046467,46.280843,73.565719
1,1.0,3568.423670,2063.099248,1.897790,3.728823,1.304186,1.854353,1.366575,2.546458,3563.560922,...,36.551948,66.931186,3725.210509,2180.197439,8.820788,38.012788,19.601233,29.431054,38.559351,67.470041
2,1.0,3568.157929,2062.445859,2.798014,2.574504,1.120537,1.958819,0.982433,2.258622,3563.279981,...,40.754308,66.816547,3724.417296,2176.823208,18.159202,23.612639,14.378291,19.555084,43.210004,67.781924
3,1.0,3567.710021,2062.112673,2.181775,3.610507,0.629608,2.155876,0.856275,2.233711,3562.787801,...,38.074628,63.915386,3725.822160,2177.089059,19.737616,29.484396,15.793034,25.713513,39.250246,65.031031
4,1.0,3565.546124,2063.128867,1.685161,3.384311,0.677526,1.795798,0.927924,1.909810,3562.655091,...,35.357384,64.534645,3723.053978,2167.798335,8.429414,26.374975,14.920736,35.675266,33.901687,66.956313

In [5]:
ESR

,Class,AF3 delta std,AF3 delta m,AF3 theta std,AF3 theta m,AF3 alpha std,AF3 alpha m,AF3 beta std,AF3 beta m,F7 delta std,...,F8 beta std,F8 beta m,AF4 delta std,AF4 delta m,AF4 theta std,AF4 theta m,AF4 alpha std,AF4 alpha m,AF4 beta std,AF4 beta m
0,1.0,3569.164550,2063.892754,1.673726,4.444736,0.526209,3.002088,1.425022,3.302739,3563.803888,...,45.468326,72.508750,3701.186330,2182.676835,18.192418,41.349662,16.004756,42.046467,46.280843,73.565719
1,1.0,3568.423670,2063.099248,1.897790,3.728823,1.304186,1.854353,1.366575,2.546458,3563.560922,...,36.551948,66.931186,3725.210509,2180.197439,8.820788,38.012788,19.601233,29.431054,38.559351,67.470041
2,1.0,3568.157929,2062.445859,2.798014,2.574504,1.120537,1.958819,0.982433,2.258622,3563.279981,...,40.754308,66.816547,3724.417296,2176.823208,18.159202,23.612639,14.378291,19.555084,43.210004,67.781924
3,1.0,3567.710021,2062.112673,2.181775,3.610507,0.629608,2.155876,0.856275,2.233711,3562.787801,...,38.074628,63.915386,3725.822160,2177.089059,19.737616,29.484396,15.793034,25.713513,39.250246,65.031031
4,1.0,3565.546124,2063.128867,1.685161,3.384311,0.677526,1.795798,0.927924,1.909810,3562.655091,...,35.357384,64.534645,3723.053978,2167.798335,8.429414,26.374975,14.920736,35.675266,33.901687,66.956313
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2875,0.0,3572.820630,2064.823341,0.676923,1.620879,0.965369,2.392263,2.582266,3.185588,3565.166724,...,26.247669,13.320391,3607.467804,2089.263161,1.605773,4.247634,1.649762,2.938868,31.019482,16.648758
2876,0.0,3573.915291,2065.845542,0.860279,1.504333,0.539180,1.331165,2.533695,2.870270,3565.734750,...,26.120266,14.809811,3613.165565,2089.298802,0.643899,6.903858,1.287563,3.942647,31.546882,17.429113
2877,0.0,3574.326202,2066.031013,1.416731,2.581577,0.715012,1.307975,2.261013,2.873613,3567.582880,...,26.513829,16.084048,3615.755534,2094.482958,1.851314,5.683580,2.411642,6.355117,32.238063,19.023897
2878,0.0,3573.735788,2065.945333,1.119943,2.769816,0.455408,1.541430,1.782814,3.067384,3567.857997,...,20.049092,21.248860,3620.821019,2097.450420,5.035767,12.027902,6.441267,14.663681,24.109509,26.468254
2879,0.0,3573.982930,2065.960401,1.011062,2.696217,1.021707,2.086820,1.922342,2.675613,3568.222662,...,19.210888,22.058247,3620.970803,2096.125026,4.120981,12.124434,7.613556,12.998119,23.635052,26.581116

In [6]:
ESR.columns

Index(['Class', 'AF3 delta std', 'AF3 delta m', 'AF3 theta std', 'AF3 theta m',
       'AF3 alpha std', 'AF3 alpha m', 'AF3 beta std', 'AF3 beta m',
       'F7 delta std',
       ...
       'F8 beta std', 'F8 beta m', 'AF4 delta std', 'AF4 delta m',
       'AF4 theta std', 'AF4 theta m', 'AF4 alpha std', 'AF4 alpha m',
       'AF4 beta std', 'AF4 beta m'],
      dtype='object', length=113)

In [7]:
ESR.isnull().sum()

Class            0
AF3 delta std    0
AF3 delta m      0
AF3 theta std    0
AF3 theta m      0
                ..
AF4 theta m      0
AF4 alpha std    0
AF4 alpha m      0
AF4 beta std     0
AF4 beta m       0
Length: 113, dtype: int64

In [8]:
ESR.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2880 entries, 0 to 2879
Columns: 113 entries, Class to AF4 beta m
dtypes: float64(113)
memory usage: 2.5 MB

In [9]:
ESR.tail(2881)

,Class,AF3 delta std,AF3 delta m,AF3 theta std,AF3 theta m,AF3 alpha std,AF3 alpha m,AF3 beta std,AF3 beta m,F7 delta std,...,F8 beta std,F8 beta m,AF4 delta std,AF4 delta m,AF4 theta std,AF4 theta m,AF4 alpha std,AF4 alpha m,AF4 beta std,AF4 beta m
0,1.0,3569.164550,2063.892754,1.673726,4.444736,0.526209,3.002088,1.425022,3.302739,3563.803888,...,45.468326,72.508750,3701.186330,2182.676835,18.192418,41.349662,16.004756,42.046467,46.280843,73.565719
1,1.0,3568.423670,2063.099248,1.897790,3.728823,1.304186,1.854353,1.366575,2.546458,3563.560922,...,36.551948,66.931186,3725.210509,2180.197439,8.820788,38.012788,19.601233,29.431054,38.559351,67.470041
2,1.0,3568.157929,2062.445859,2.798014,2.574504,1.120537,1.958819,0.982433,2.258622,3563.279981,...,40.754308,66.816547,3724.417296,2176.823208,18.159202,23.612639,14.378291,19.555084,43.210004,67.781924
3,1.0,3567.710021,2062.112673,2.181775,3.610507,0.629608,2.155876,0.856275,2.233711,3562.787801,...,38.074628,63.915386,3725.822160,2177.089059,19.737616,29.484396,15.793034,25.713513,39.250246,65.031031
4,1.0,3565.546124,2063.128867,1.685161,3.384311,0.677526,1.795798,0.927924,1.909810,3562.655091,...,35.357384,64.534645,3723.053978,2167.798335,8.429414,26.374975,14.920736,35.675266,33.901687,66.956313
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2875,0.0,3572.820630,2064.823341,0.676923,1.620879,0.965369,2.392263,2.582266,3.185588,3565.166724,...,26.247669,13.320391,3607.467804,2089.263161,1.605773,4.247634,1.649762,2.938868,31.019482,16.648758
2876,0.0,3573.915291,2065.845542,0.860279,1.504333,0.539180,1.331165,2.533695,2.870270,3565.734750,...,26.120266,14.809811,3613.165565,2089.298802,0.643899,6.903858,1.287563,3.942647,31.546882,17.429113
2877,0.0,3574.326202,2066.031013,1.416731,2.581577,0.715012,1.307975,2.261013,2.873613,3567.582880,...,26.513829,16.084048,3615.755534,2094.482958,1.851314,5.683580,2.411642,6.355117,32.238063,19.023897
2878,0.0,3573.735788,2065.945333,1.119943,2.769816,0.455408,1.541430,1.782814,3.067384,3567.857997,...,20.049092,21.248860,3620.821019,2097.450420,5.035767,12.027902,6.441267,14.663681,24.109509,26.468254
2879,0.0,3573.982930,2065.960401,1.011062,2.696217,1.021707,2.086820,1.922342,2.675613,3568.222662,...,19.210888,22.058247,3620.970803,2096.125026,4.120981,12.124434,7.613556,12.998119,23.635052,26.581116

In [10]:
ESR.loc[3]

Class               1.000000
AF3 delta std    3567.710021
AF3 delta m      2062.112673
AF3 theta std       2.181775
AF3 theta m         3.610507
                    ...
AF4 theta m        29.484396
AF4 alpha std      15.793034
AF4 alpha m        25.713513
AF4 beta std       39.250246
AF4 beta m         65.031031
Name: 3, Length: 113, dtype: float64

In [11]:
ESR.loc[3,"AF3 delta std"]

3567.7100207417207

In [12]:
ESR.loc[0:4]

,Class,AF3 delta std,AF3 delta m,AF3 theta std,AF3 theta m,AF3 alpha std,AF3 alpha m,AF3 beta std,AF3 beta m,F7 delta std,...,F8 beta std,F8 beta m,AF4 delta std,AF4 delta m,AF4 theta std,AF4 theta m,AF4 alpha std,AF4 alpha m,AF4 beta std,AF4 beta m
0,1.0,3569.164550,2063.892754,1.673726,4.444736,0.526209,3.002088,1.425022,3.302739,3563.803888,...,45.468326,72.508750,3701.186330,2182.676835,18.192418,41.349662,16.004756,42.046467,46.280843,73.565719
1,1.0,3568.423670,2063.099248,1.897790,3.728823,1.304186,1.854353,1.366575,2.546458,3563.560922,...,36.551948,66.931186,3725.210509,2180.197439,8.820788,38.012788,19.601233,29.431054,38.559351,67.470041
2,1.0,3568.157929,2062.445859,2.798014,2.574504,1.120537,1.958819,0.982433,2.258622,3563.279981,...,40.754308,66.816547,3724.417296,2176.823208,18.159202,23.612639,14.378291,19.555084,43.210004,67.781924
3,1.0,3567.710021,2062.112673,2.181775,3.610507,0.629608,2.155876,0.856275,2.233711,3562.787801,...,38.074628,63.915386,3725.822160,2177.089059,19.737616,29.484396,15.793034,25.713513,39.250246,65.031031
4,1.0,3565.546124,2063.128867,1.685161,3.384311,0.677526,1.795798,0.927924,1.909810,3562.655091,...,35.357384,64.534645,3723.053978,2167.798335,8.429414,26.374975,14.920736,35.675266,33.901687,66.956313

In [13]:
ESR.loc[0:4,"AF3 delta std"]

0    3569.164550
1    3568.423670
2    3568.157929
3    3567.710021
4    3565.546124
Name: AF3 delta std, dtype: float64

In [14]:
ESR.loc[0:4,["AF3 delta std","AF3 delta m"]]

   AF3 delta std  AF3 delta m
0    3569.164550  2063.892754
1    3568.423670  2063.099248
2    3568.157929  2062.445859
3    3567.710021  2062.112673
4    3565.546124  2063.128867

In [15]:
ESR.loc[0:4,"AF3 delta std":"AF3 alpha m"]

,AF3 delta std,AF3 delta m,AF3 theta std,AF3 theta m,AF3 alpha std,AF3 alpha m
0,3569.164550,2063.892754,1.673726,4.444736,0.526209,3.002088
1,3568.423670,2063.099248,1.897790,3.728823,1.304186,1.854353
2,3568.157929,2062.445859,2.798014,2.574504,1.120537,1.958819
3,3567.710021,2062.112673,2.181775,3.610507,0.629608,2.155876
4,3565.546124,2063.128867,1.685161,3.384311,0.677526,1.795798

In [16]:
ESR.iloc[:,1]

0       3569.164550
1       3568.423670
2       3568.157929
3       3567.710021
4       3565.546124
           ...
2875    3572.820630
2876    3573.915291
2877    3574.326202
2878    3573.735788
2879    3573.982930
Name: AF3 delta std, Length: 2880, dtype: float64

In [17]:
l = [1,2,3,4]
l[:3]

[1, 2, 3]

In [18]:
ESR['Class'].value_counts()

1.0    960
2.0    960
0.0    960
Name: Class, dtype: int64

In [19]:
ESR.groupby('Class').mean()

,AF3 delta std,AF3 delta m,AF3 theta std,AF3 theta m,AF3 alpha std,AF3 alpha m,AF3 beta std,AF3 beta m,F7 delta std,F7 delta m,...,F8 beta std,F8 beta m,AF4 delta std,AF4 delta m,AF4 theta std,AF4 theta m,AF4 alpha std,AF4 alpha m,AF4 beta std,AF4 beta m
Class,,,,,,,,,,,,,,,,,,,,,
0.0,3573.105047,2065.212523,1.044620,2.410871,0.913148,2.169407,2.271822,3.206166,3566.765596,2061.300548,...,29.863774,29.930458,3606.659797,2103.861382,5.959522,15.421592,6.633360,17.051315,36.534612,36.415358
1.0,3572.127749,2064.913287,1.005242,2.450213,1.002910,2.418028,2.095186,3.358045,3566.624293,2061.424659,...,30.666995,37.460582,3613.489328,2112.950185,7.718776,18.899793,8.695921,21.383254,35.540257,43.179287
2.0,3572.973840,2065.407112,1.063893,2.570677,0.933328,2.344391,2.305411,3.369704,3567.368080,2061.701201,...,31.480274,31.703433,3602.580218,2104.212301,6.375408,16.687649,6.599432,17.210985,37.418496,37.699173

In [20]:
x = ESR.drop(columns='Class',axis = 1)
y = ESR['Class']

In [21]:
x.shape

(2880, 112)

In [22]:
y.shape

(2880,)

In [23]:
x

,AF3 delta std,AF3 delta m,AF3 theta std,AF3 theta m,AF3 alpha std,AF3 alpha m,AF3 beta std,AF3 beta m,F7 delta std,F7 delta m,...,F8 beta std,F8 beta m,AF4 delta std,AF4 delta m,AF4 theta std,AF4 theta m,AF4 alpha std,AF4 alpha m,AF4 beta std,AF4 beta m
0,3569.164550,2063.892754,1.673726,4.444736,0.526209,3.002088,1.425022,3.302739,3563.803888,2060.239057,...,45.468326,72.508750,3701.186330,2182.676835,18.192418,41.349662,16.004756,42.046467,46.280843,73.565719
1,3568.423670,2063.099248,1.897790,3.728823,1.304186,1.854353,1.366575,2.546458,3563.560922,2059.969372,...,36.551948,66.931186,3725.210509,2180.197439,8.820788,38.012788,19.601233,29.431054,38.559351,67.470041
2,3568.157929,2062.445859,2.798014,2.574504,1.120537,1.958819,0.982433,2.258622,3563.279981,2059.543651,...,40.754308,66.816547,3724.417296,2176.823208,18.159202,23.612639,14.378291,19.555084,43.210004,67.781924
3,3567.710021,2062.112673,2.181775,3.610507,0.629608,2.155876,0.856275,2.233711,3562.787801,2059.317489,...,38.074628,63.915386,3725.822160,2177.089059,19.737616,29.484396,15.793034,25.713513,39.250246,65.031031
4,3565.546124,2063.128867,1.685161,3.384311,0.677526,1.795798,0.927924,1.909810,3562.655091,2059.139105,...,35.357384,64.534645,3723.053978,2167.798335,8.429414,26.374975,14.920736,35.675266,33.901687,66.956313
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2875,3572.820630,2064.823341,0.676923,1.620879,0.965369,2.392263,2.582266,3.185588,3565.166724,2059.929964,...,26.247669,13.320391,3607.467804,2089.263161,1.605773,4.247634,1.649762,2.938868,31.019482,16.648758
2876,3573.915291,2065.845542,0.860279,1.504333,0.539180,1.331165,2.533695,2.870270,3565.734750,2060.423082,...,26.120266,14.809811,3613.165565,2089.298802,0.643899,6.903858,1.287563,3.942647,31.546882,17.429113
2877,3574.326202,2066.031013,1.416731,2.581577,0.715012,1.307975,2.261013,2.873613,3567.582880,2061.445856,...,26.513829,16.084048,3615.755534,2094.482958,1.851314,5.683580,2.411642,6.355117,32.238063,19.023897
2878,3573.735788,2065.945333,1.119943,2.769816,0.455408,1.541430,1.782814,3.067384,3567.857997,2061.599242,...,20.049092,21.248860,3620.821019,2097.450420,5.035767,12.027902,6.441267,14.663681,24.109509,26.468254
2879,3573.982930,2065.960401,1.011062,2.696217,1.021707,2.086820,1.922342,2.675613,3568.222662,2061.441399,...,19.210888,22.058247,3620.970803,2096.125026,4.120981,12.124434,7.613556,12.998119,23.635052,26.581116

In [24]:
y

0       1.0
1       1.0
2       1.0
3       1.0
4       1.0
       ...
2875    0.0
2876    0.0
2877    0.0
2878    0.0
2879    0.0
Name: Class, Length: 2880, dtype: float64

In [25]:
from sklearn.preprocessing import StandardScaler

In [26]:
sc = StandardScaler()
standardized_data = sc.fit_transform(x)

In [27]:
x = standardized_data
y = ESR['Class']

In [28]:
print(x)
print(y)

[[-1.62585637 -0.84035602  1.28007215 ...  1.95249006  0.63602195
   2.44408311]
 [-1.96317524 -1.35933392  1.73118027 ...  0.90425099  0.13402758
   2.01184337]
 [-2.08416582 -1.78667094  3.54360232 ...  0.08363757  0.4363787
   2.03395875]
 ...
 [ 0.72421793  0.5581321   0.76266412 ... -1.01317326 -0.2769359
  -1.42343451]
 [ 0.45540512  0.50209506  0.16513963 ... -0.32279861 -0.80539437
  -0.89556104]
 [ 0.56792796  0.51195018 -0.05407003 ... -0.46119335 -0.8362401
  -0.88755806]]
0       1.0
1       1.0
2       1.0
3       1.0
4       1.0
       ...
2875    0.0
2876    0.0
2877    0.0
2878    0.0
2879    0.0
Name: Class, Length: 2880, dtype: float64

In [29]:
from sklearn.model_selection import train_test_split, cross_val_score
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.4,stratify=y,random_state=0)

# logistic regression

In [30]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
clf1 = LogisticRegression()
clf1.fit(X_train, y_train)
X_trainning_data_prediction = clf1.predict(X_train)
acc_log_reg = round(accuracy_score(X_trainning_data_prediction, y_train)*100,2)
print ("The testing accuracy in linear regression" + ":" +str(acc_log_reg) + ' %')


#testing accuracy

X_test_data_prediction = clf1.predict(X_test)
acc_log_reg = round(accuracy_score(X_test_data_prediction, y_test)*100,2)
print ("The testing  accuracy in linear regression" + ":" +str(acc_log_reg) + ' %')

#make a predicting system


input_data = (3573.22146979646,2064.8446897132408,0.37475451033372287,1.360566779265309,0.8598294208888092,1.9503270990193844,2.574285940693397,3.2536642430743608,3565.5183081459177,2060.797798769253,1.6307817303078131,2.473496193785203,0.9484242683650966,2.130003128035905,1.5540826708640167,2.082278739713538,3607.1225810862966,2087.9365196786616,2.129546061679344,3.6611213973671166,2.1760396269490263,5.930947718762582,34.94531045756882,19.141693233856593,3562.0296741549937,2057.3896781681533,0.3393892145654126,1.076742643910916,0.4214533891659451,1.3669600817775458,0.6559448720244864,1.1711771031454201,3560.749547679987,2057.353979925341,0.4236226794602959,1.5465229334004387,0.5398818169975469,1.510532846136292,0.6832779422185321,1.3825772511935954,3604.8845998072484,2088.4001022819525,2.452050698605978,7.6553280218254445,2.733535286429979,6.880498646933223,30.252591224525677,16.83332839570576,3572.952050340284,2065.1049836526768,1.3288370992372207,2.359188403532051,0.8615368619820402,1.6432307833167383,6.051419292401439,4.427344690245323,3576.936565330306,2068.2892107502857,1.1180888005239829,2.192030466720009,0.8592558701003093,2.132271196215957,5.1993283399433405,4.33097554286634,3599.600027062845,2080.4110093524273,0.5689319710282744,2.6571099893738976,0.6934418255870869,2.987232286699963,11.542060230241603,6.347358027558796,3589.128427497933,2083.6714319221696,0.6079408679987138,1.8152506086879425,1.7892518707131917,4.204531715602997,23.595030367815177,12.655048164067356,3607.656127046066,2091.593904362583,1.707013331226892,3.78071598602771,0.7185786271220512,4.0920684017170466,34.89549472712374,18.42902712940672,3578.5131939631488,2067.3173095654442,0.9524284356904938,2.2809234335347064,0.6122649981466057,2.5246541975769534,3.469749386568669,3.275058323780206,3642.8723832546366,2113.3860992928157,1.9107475313406996,3.011822004983782,1.0745368390925831,4.695138773543187,25.84593479863523,14.031329896477168,3605.665598550071,2088.9326654254296,1.4229539160285514,4.53604882440692,2.3069381465103977,2.9048648976873146,30.915045611923667,16.233590002725077)
input_data_as_numpy_array = np.asarray(input_data)
#reshape the array as we predicting for one instance
input_data_reshape = input_data_as_numpy_array.reshape(1,-1)

#standardize the input data
std_data = sc.transform(input_data_reshape)
print(std_data)

prediction = clf1.predict(std_data)
print(prediction)

if (prediction[0] == 0):
    print("The person in thinking neutral")
elif (prediction[0] == 1):
    print("The person is thinking right movement:")
elif(prediction[0] == 2):
    print("The person is thinking left movement:")

The testing accuracy in linear regression:66.61 %
The testing  accuracy in linear regression:63.54 %
[[ 0.22123882 -0.21776026 -1.33514789 -1.15912441 -0.20681905 -0.46717935
   0.61481286 -0.14605762 -0.76051661 -0.59340091  1.75830863  0.44108637
   0.09372208 -0.03382956  0.91176552 -0.45211093 -0.05070267 -0.52125657
  -0.86835413 -0.94503726 -0.94065258 -1.07947113 -0.26168429 -1.57421948
  -0.58377831 -1.07859351 -1.093594   -1.12365708 -0.89611837 -0.72405928
  -1.18813723 -1.58945233 -0.19520115 -0.43729736 -1.012682   -0.64903624
  -0.83562337 -0.95766898 -1.1606526  -1.32182162  0.16941523 -0.2965969
  -0.77621976 -0.62805231 -0.83257781 -0.98926715 -0.24993264 -1.47492831
  -0.04455139 -0.28181511  0.47144587 -0.36468247 -0.64701774 -1.46834223
   1.75142125 -0.85472319  0.1398203  -0.21605148 -0.44129984 -0.39912797
  -0.5446008  -0.54046225 -0.53002941 -0.68278887  1.43144629  0.64139986
  -1.28628337 -0.95522098 -1.26396363 -1.18540457 -0.39617093 -1.87770977
   0.23163788 -0.04598424 -0.97782004 -0.90054136 -0.80644678 -0.97011573
  -0.20652219 -1.37295032 -0.03703524 -0.42378158 -0.92904797 -0.946479
  -1.21221178 -1.24161033 -0.15959298 -1.62649121  0.11983622 -0.14250078
  -0.52902017 -0.48310027 -0.98667209 -0.39755401 -0.09304458 -1.00759382
   0.48683918  0.04665466 -0.8152906  -0.92691007 -1.05580365 -1.0495565
  -0.34684583 -1.47378491 -0.04545691 -0.53409039 -0.97484786 -0.88249077
  -0.88130536 -1.29986136 -0.36294869 -1.62129301]]
[0.]
The person in thinking neutral

C:\Users\USER\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\USER\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(